.counter {
  /* TODO */
  
  width: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 180px;
  margin-right: 10px;

}

.btnCount {
   background-color: rgb(129,151,232);
}